.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv
data
_targets
fig
doc/report_cache
doc/report_files
doc/report.html
shiny/*rds
cache
talk/group_talk_cache
talk/group_talk_files
talk/group_talk.html