.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv
data
_targets
fig
doc/report_cache
doc/report_files
doc/report.html
shiny/*rds
cache
group_talk/slides_cache
group_talk/slides_files
group_talk/slides.html