// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');


/*-- scss:defaults --*/

// Background of the presentation
$backgroundColor: #ffffff;

// Primary/body text
$mainFont: 'Jost', sans-serif;
$mainFontSize: 30px;
$mainColor: #333;

